* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #ff512f, #dd2476);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container */
.signup-container {
    background: white;
    width: 350px;
    padding: 30px;
    margin-left: 33em;
   border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    margin-top: 10px;
}

/* Form */
.signup-form h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #dd2476;
}

/* Input Fields */
.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #dd2476;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 12px;
    color: #999;
    font-size: 14px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.3s;
    background: white;
    padding: 0 5px;
}

/* Floating Label Effect */
.input-group input:focus + label,
.input-group input:valid + label {
    top: -8px;
    font-size: 12px;
    color: #dd2476;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    border: none;
    background: linear-gradient(90deg, #ff512f, #dd2476);
    color: white;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(221,36,118,0.4);
}

/* Login Text */
.login-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.login-text a {
    color: #dd2476;
    text-decoration: none;
    font-weight: bold;
}
