
<nav class="navbar">
    <div class="logo">ShopSmart</div>

    <div class="search-box">
        <input type="text" placeholder="Search products...">
        <button>Search</button>
    </div>

    <ul class="nav-links">
        <li><a routerLink="" class="seller-btn">Home</a></li>
        <li><a routerLink="" class="seller-btn">Login</a></li>
        <li><a routerLink="" class="seller-btn">Cart</a></li>
        <li><a routerLink="seller-auth" class="seller-btn">Seller</a></li>
    </ul>
</nav>

